wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/languages/

wp-content/plugins/*
!wp-content/plugins/exobooking-core/

wp-content/themes/*
!wp-content/themes/.gitkeep


db_data/
*.log

wp-content/debug.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Credenciais
wp-config.php

.env
.github/